@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jalnan2';
  src: url('/fonts/Jalnan2.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('/fonts/NotoSansKR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Toss';
  src: url('/fonts/TossFaceFontMac.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  overflow-y: auto;
  overflow-x: hidden;
}

.body {
  font-family: 'Jalnan2', 'NotoSansKR', 'Toss';
}
